.dplayer-bezel {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 22px;
  color: #fff;

  .dplayer-bezel-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    margin: -30px 0 0 -50px;
    height: 60px;
    width: 100px;
    text-align: center;
    box-sizing: border-box;
    border: 3px solid #fff;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    opacity: 0;
    transition: all 0.3s ease;
    .iconfont {
      font-size: 50px;
    }
    
    &.dplayer-bezel-pause {
      display: block;
      opacity: 1;
    }

    &.dplayer-bezel-transition {
      animation: bezel-hide .5s linear;
    }

    @keyframes bezel-hide {
      from {
        opacity: 1;
        transform: scale(1);
      }

      to {
        opacity: 0;
        transform: scale(2);
      }
    }
  }

  .dplayer-danloading {
    position: absolute;
    top: 50%;
    margin-top: -7px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    animation: my-face 5s infinite ease-in-out;
  }

  .diplayer-loading-icon {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 36px;
    width: 150px;
    margin-top: -10px;
    margin-left: -75px;
    pointer-events: none;

    .spinner1 {
      text-align: center;

      .bounce1,
      .bounce2,
      .bounce3 {
        width: 20px;
        height: 20px;
        margin: 0 5px;
        background-color: #fff;
        border-radius: 100%;
        display: inline-block;
        animation: bouncedelay 1.4s infinite ease-in-out;
        animation-fill-mode: both;
      }

      .bounce1 {
        animation-delay: -0.32s;
      }

      .bounce2 {
        animation-delay: -0.16s;
      }

      @keyframes bouncedelay {

        0%,
        80%,
        100% {
          transform: scale(0);
          -webkit-transform: scale(0);
        }

        40% {
          transform: scale(1);
          -webkit-transform: scale(1);
        }
      }
    }

    .diplayer-loading-hide {
      display: none;
    }

    .diplayer-loading-dot {
      animation: diplayer-loading-dot-fade .8s ease infinite;
      opacity: 0;
      transform-origin: 4px 4px;

      @for $i from 7 through 1 {
        &.diplayer-loading-dot-#{$i} {
          animation-delay: .1s * $i;
        }
      }
    }

    @keyframes diplayer-loading-dot-fade {
      0% {
        opacity: .7;
        transform: scale(1.2, 1.2)
      }

      50% {
        opacity: .25;
        transform: scale(.9, .9)
      }

      to {
        opacity: .25;
        transform: scale(.85, .85)
      }
    }
  }
}
