$barHeight: 6px;
$highlightHover: 12px;
$backColor: rgba(98, 102, 105, 0.5);
$theme: #4588bf;

.dplayer-controller-mask {
  background-color: $backColor;
  height: 66px;
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: all 0.3s ease;
}

.dplayer-controller {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 66px;
  user-select: none;
  transition: all 0.3s ease;

  &.dplayer-controller-comment {
    .dplayer-icons {
      display: none;
    }

    .dplayer-icons.dplayer-comment-box {
      display: block;
    }
  }

  .dplayer-bar-wrap {
    padding: 5px 0;
    cursor: pointer;
    position: absolute;
    bottom: 55px;
    width: 100%;
    height: $barHeight;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:hover {
      .dplayer-bar .dplayer-played .dplayer-thumb {
        transform: scale(1);
      }
    }

    .dplayer-highlight {
      &.node-large {
        z-index: 2;
        position: absolute;
        top: 1px;
        width: 10px;
        height: 10px;
        border: 2px solid $theme;
        border-radius: 50%;
        background-color: #fff;
        text-align: center;
        transform: translateX(-7px);
        transition: all .2s ease-in-out;
      }

      &.node-small {
        z-index: 2;
        position: absolute;
        top: 5px;
        width: 2px;
        height: $barHeight;
        text-align: center;
        transform: translateX(-50%);
        transition: all .2s ease-in-out;
      }

      &:hover {
        .dplayer-highlight-img {
          display: block;
        }

        &~.dplayer-bar-preview {
          opacity: 0;
        }

        &~.dplayer-bar-time {
          opacity: 0;
        }
      }

      .dplayer-highlight-img {
        display: none;
        position: absolute;
        left: 50%;
        top: -96px;
        width: 120px;
        height: 90px;
        padding-top: 75px;
        box-sizing: border-box;
        margin-left: -60px;
        background-color: rgba(98, 96, 97, .62);
        background-size: cover;
        color: #fff;
        border-radius: 4px;
        font-size: 12px;
      }
    }

    .dplayer-highlight-label {
      display: inline-block;
      position: absolute;
      top: 20px;
      color: #fff;
      border-radius: 4px;
      font-size: 12px;
      white-space: nowrap;
      transform: translateX(-50%);
    }

    .dplayer-bar-preview {
      position: absolute;
      background: #fff;
      pointer-events: none;
      display: none;
      background-size: 16000px 100%;
    }

    .dplayer-bar-preview-canvas {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      pointer-events: none;
    }

    .dplayer-bar-time {
      &.hidden {
        opacity: 0;
      }

      position: absolute;
      left: 0px;
      top: -20px;
      border-radius: 4px;
      padding: 5px 0;
      width: 46px;
      margin-left: -23px;
      background-color: $backColor;
      color: #fff;
      font-size: 12px;
      text-align: center;
      opacity: 1;
      transition: opacity .1s ease-in-out;
      word-wrap: normal;
      word-break: normal;
      z-index: 2;
      pointer-events: none;
    }

    .dplayer-bar {
      position: relative;
      height: $barHeight;
      width: 100%;
      background: rgba(255, 255, 255, .2);
      cursor: pointer;

      .dplayer-loaded {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background: rgba(255, 255, 255, .4);
        height: $barHeight;
        transition: all 0.5s ease;
        will-change: width;
      }

      .dplayer-played {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        height: $barHeight;
        will-change: width;

        .dplayer-thumb {
          position: absolute;
          top: -5px;
          right: -8px;
          height: 16px;
          width: 16px;
          border-radius: 50%;
          cursor: pointer;
          transition: all .3s ease-in-out;
          transform: scale(0);
        }
      }
    }
  }

  .dplayer-icons {
    height: 38px;
    position: absolute;
    bottom: 0;

    &.dplayer-icons-left {
      left: 50%;
      transform: translateX(-50%);

      .dplayer-icon {
        padding: 7px;
      }
    }

    &.dplayer-icons-right {
      right: 20px;

      .dplayer-icon {
        padding: 7px;
      }
    }

    .dplayer-double-speed-wrap {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      width: 56px;
      height: 38px;
      line-height: 38px;
      text-align: center;
      font-size: 16px;
      color: #fff;

      .dplayer-popup-panel {
        position: absolute;
        left: 50%;
        bottom: 37px;
        transform: scale(0);
        width: 80px;
        margin-left: -40px;
        border-radius: 4px;
        background-color: rgba(98, 102, 105, 0.9);
        transition: all .3s ease-in-out;
        overflow: hidden;
        z-index: 2;

        &.open {
          transform: scale(1);
        }

        .dplayer-popup-speed-item {
          text-align: center;
          height: 30px;
          line-height: 30px;
          box-sizing: border-box;
          cursor: pointer;
          position: relative;

          &:hover {
            background-color: hsla(0, 0%, 100%, .1);
          }

          &.active {
            color: $theme
          }
        }
      }
    }


    .dplayer-time {
      padding-left: 7px;
      padding-right: 7px;
    }

    .dplayer-time,
    .dplayer-live-badge {
      display: inline-block;
      line-height: 38px;
      color: #eee;
      text-shadow: 0 0 2px rgba(0, 0, 0, .5);
      vertical-align: middle;
      font-size: 13px;
      cursor: default;
    }

    .dplayer-live-dot {
      display: inline-block;
      width: 6px;
      height: 6px;
      vertical-align: 4%;
      margin-right: 5px;
      content: '';
      border-radius: 6px;
    }

    .dplayer-icon {
      width: 40px;
      height: 100%;
      line-height: 1;
      border: none;
      background-color: transparent;
      outline: none;
      cursor: pointer;
      vertical-align: middle;
      box-sizing: border-box;
      display: inline-block;

      .dplayer-icon-content {
        display: block;
        height: 100%;
        line-height: 1;
        transition: all .2s ease-in-out;
        opacity: .8;
      }

      &:hover {
        .dplayer-icon-content {
          opacity: 1;
        }
      }
    }

    .dplayer-volume {
      position: relative;
      display: inline-block;
      cursor: pointer;
      height: 100%;

      &.dplayer-volume-active {
        .dplayer-volume-bar-wrap {
          transform: scale(1)
        }
      }

      .dplayer-volume-bar-wrap {
        position: absolute;
        left: 50%;
        bottom: 37px;
        transform: scale(0);
        width: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: -20px;
        border-radius: 4px;
        background-color: rgba(98, 102, 105, 0.9);
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        z-index: 2;

        .dplayer-volume-bar {
          position: relative;
          height: 60px;
          width: 6px;
          margin: 0 auto;
          border-radius: 4px;
          background: rgba(255, 255, 255, .2);
          transition: all 0.3s ease-in-out;

          .dplayer-volume-bar-inner {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            transition: all 0.1s ease;
            will-change: height;

            .dplayer-thumb {
              position: absolute;
              top: -6px;
              left: -3px;
              height: 12px;
              width: 12px;
              border-radius: 50%;
              cursor: pointer;
              transition: all .3s ease-in-out;
            }
          }
        }
      }
    }

    .dplayer-full {
      display: inline-block;
      height: 100%;
      position: relative;

      &:hover {
        .dplayer-full-in-icon {
          display: block;
        }
      }

      .dplayer-full-in-icon {
        position: absolute;
        top: -30px;
        z-index: 1;
        display: none;
      }
    }
  }
}
