.dplayer-sidebar {
  position: absolute;
  bottom: 44px;
  top: 0;
  right: 0;
  width: 180px;
  padding: 10px 0;
  user-select: none;
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .dplayer-program {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    .dplayer-program-item {
      width: 60px;
      height: 60px;
      cursor: pointer;
      background-size: 60px 60px;
      background-repeat: no-repeat;
    }
  }
  .dplayer-section {
    flex: 1;
    width: 100%;
    overflow: hidden;
    &.align-center {
      display: flex;
      align-items: center;
    }
    .dplayer-section-inner {
      width: 100%;
      transition-duration: 200ms;
    }
    .dplayer-section-item {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 80px;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      &:last-child {
        .dplayer-section-line {
          display: none;
        }
      }
      .dplayer-section-line {
        display: block;
        content: "";
        position: absolute;
        left: 55px;
        top: 50px;
        height: 60px;
        border-left: 2px dashed #fff;
      }
      .iconfont {
        font-size: 18px;
        display: inline-block;
        margin-right: 5px;
        color: inherit;
      }
    }
  }
}