.dplayer-sidebar {
  position: absolute;
  bottom: 44px;
  top: 0;
  right: 0;
  width: 180px;
  padding: 10px 0;
  user-select: none;
  transition: all 0.3s ease;
  background-color: rgba(98, 102, 105, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .dplayer-program {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    .dplayer-program-item {
      width: 60px;
      height: 60px;
      cursor: pointer;
      background-size: 60px 60px;
      background-repeat: no-repeat;
    }
  }
  .dplayer-section {
    flex: 1;
    width: 100%;
    overflow: hidden;
    &.align-center {
      display: flex;
      align-items: center;
    }
    .dplayer-section-inner {
      width: 100%;
      transition-duration: 200ms;
    }
    .dplayer-section-item {
      display: flex;
      align-items: center;
      position: relative;
      height: 80px;
      padding-left: 70px;
      box-sizing: border-box;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      &:first-child {
        .dplayer-section-line {
          display: none;
        }
      }
      &.small-space {
        height: 50px;
        .dplayer-section-line {
          top: -15px;
          height: 32px;
        }
      }
      .dplayer-section-line {
        display: block;
        content: "";
        position: absolute;
        left: 55px;
        top: -30px;
        height: 60px;
        border-left: 2px dashed;
        border-color: inherit;
      }
      .iconfont {
        position: absolute;
        left: 46px;
        font-size: 19px;
        display: inline-block;
        color: inherit;
      }
    }
  }
}